<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio</title>
</head>
<body>
    <h1>Bienvenido a la página de inicio</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/estudiantes/">Estudiantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cobros/">Cobros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/empleados/">Empleados</a>
        </li>
        </ul>

      </div>
    </nav>
</body>
</html>